.clickable {
  cursor: pointer;
}

.ow {
  overflow-wrap: break-word;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border-top: none !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.adbox {
  background-color: #fff;
  border-radius: 5px;
}

.addpdglr15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.addpdglr15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.table-bordered thead th {
  border-bottom-width: 1px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 0px solid #dee2e6;
}

.table-bordered th {
  border: 1px solid #c7c7c7;
}

.table th {
  padding: 10px;
}
/*  */

.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.border {
  border: 1px solid #e8e9eb;
}

.theadColor {
  background-color: #fafafa;
}
.tbodyColor {
  background-color: #ffffff;
}
.center {
  text-align: center;
}
/*  Mudassir */

/* ===============================================Spinner================================================ */
.spinner_wrapper {
  position: relative;
}
.spinner_processing {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-left: -50%;
  z-index: 9;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.9);
}
.dark-blue-bg .spinner_processing {
  background: rgb(23, 31, 56);
}
.spinner_center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  margin-left: -50%;
  margin-top: -25px;
}

/* ===============================================Spinner================================================ */
/* ===============================================Date Picker================================================ */
input.disabled {
  pointer-events: none;
  font-weight: bold;
}
.react-datepicker__input-container > input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* ===============================================Date Picker================================================ */
/* ===============================================tradingview================================================ */

.tradingview-widget-container {
  margin-bottom: 0px;
}
.pagination-margin > nav {
  margin: 15px;
}

.ord {
  position: relative;
}
.exchange-orderBook td,
.exchange-orderBook th {
  padding: 0 0.5rem;
}
.exchange-orderBook .th {
  font-size: 15px !important;
  font-weight: 700;
}

.trade-history td,
.trade-history th {
  padding: 0 0.5rem;
}

.currancy-pair-pad {
  padding: 15px 0;
}
.currency-rate {
  padding: 2px 20px;
}
.das-oreder-table td span {
  font-weight: 400;
  font-size: 13px !important;
}
.das-oreder-table td {
  font-weight: 400 !important;
  font-size: 13px !important;
}
.dahboard-order-block,
.order-form-area-block,
.order-history-block {
  margin-bottom: 5px;
}
.order-history-block .table-fixed tbody {
  height: 485px;
  overflow-y: auto;
  width: 100%;
}
/* ===============================================tradingview================================================ */
/* ===============================================order Book & trade left right Padding================================================ */

@media screen and (max-width: 1199px) {
  .dashboard-body .table.das-oreder-table {
    min-width: 0px;
  }
}
@media (min-width: 425px) {
  .dahboard-order-block {
    width: 100% !important;
  }
}
@media (min-width: 1024px) {
  .leftSideBar {
    padding-right: 0;
  }
  .righSideBar {
    padding-left: 0;
  }
  .tv-oa-lr {
    padding-right: 5px;
    padding-left: 5px;
  }
}

/* ===============================================order Book & trade left right Padding================================================ */
/* ===============================================LeftSideBar================================================ */
.leftSideBar .table-fixed tbody {
  height: 290px;
  overflow-y: auto;
  width: 100%;
}

/* ===============================================LeftSideBar================================================ */
/* ===============================================order area================================================ */

.ticker-nav .nav-item a {
  padding: 5px;
}
.tv_orde_table tr th {
  padding: 5px;
}
.dashboard-body {
  margin-bottom: 0;
}
.exchange-chart-block {
  padding: 0px;
  margin-bottom: 5px;
}
.latest-tranjections-area {
  padding-bottom: 5px;
}
.tv_orde_table tbody td {
  padding-top: 7px;
  padding-bottom: 0px;
}
.tv_ammount-form-block form .form-group {
  margin-bottom: 0.5rem;
}
/* ===============================================order area================================================ */
/* ===============================================balances================================================ */

.teanding-info-block {
  padding: 15px 0;
}
.trending-info-tab {
  margin-bottom: 15px;
}
/* ===============================================balances================================================ */

.orderBookRow {
  position: relative;
  border-top: none;
  background: #fff;
}
.orderBookRow .col-md-4 span {
  font-weight: 400 !important;
  font-size: 13px !important;
}

.rate-ratio {
  top: 36%;
  height: 27px;
  width: 100%;
  z-index: 0;
}
.dashes {
  border-bottom: 1px #d3d3d3 dashed;
  margin-bottom: 0.5rem;
}

/* =================================================signUp============================================== */
.checkbox_inline > label > input {
  min-height: 0px;
  margin-left: 20px !important;
  margin-bottom: 10px;
}
/* =================================================signUp============================================== */

/* signup signin reset */
.user-login-signup-section {
  padding: 125px 0 50px 0;
}
.user-connected-from .form-group {
  margin: 10px 0px;
}
.user-connected-form-block {
  padding: 10px 40px 20px 40px !important;
}
.user-login-signup-form-wrap .modal-content {
  flex-basis: 40%;
}
.user-login-signup-form-wrap .modal-content > h3 {
  margin: 0 auto 20px auto;
}

/* signup signin reset */

/* ======================================= DepthChart================================================== */
#depthChartStyle {
  min-width: 310px;
  max-width: 1040px;
  height: 250px;
  margin: 0 auto;
}

/* ======================================= DepthChart================================================== */
/* ======================================= tradingview, exchangeorderarea================================================== */

.parent-order-tab {
  line-height: 22px;
}
.tv_orde_table thead th {
  line-height: 15px;
}
.dark-blue-bg .latest-tranjections-block-inner h5 {
  color: #ffffff;
}
.dark-blue-bg .dashes {
  border-bottom: 1px #192030 dashed;
}
.dark-blue-bg .form-horizontal input.form-control:not(:read-only) {
  background: transparent;
  color: #fff;
}
/* ======================================= tradingview, exchangeorderarea================================================== */

/* ==================================CurrencyPair=================================== */

.exchange-orderBook tbody .favorite-coin {
  padding: 0 0px;
}
.dark-blue-bg .table {
  color: #ffffff;
}
.das-oreder-table td {
  font-size: 12px !important;
}
.table {
  color: #212529;
}
.currancy-pair-pad {
  padding: 5px !important;
}

.dark-blue-bg .table-hover tbody tr:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}
.parent-order-tab .nav-item a.nav-link h5 {
  font-weight: 500;
}
.ticker-nav .nav-item a {
  font-weight: 500;
}
.market-new-ticker-block {
  margin-bottom: 5px !important;
}
.das-market-tab-pane {
  height: auto;
}
.parent-order-tab .nav-item a.nav-link.active {
  font-weight: 600;
}
.tab-content .table-fixed tbody {
  height: 55px;
  overflow-y: auto;
  width: 100%;
}
.market-new-ticker-block {
  background: rgba(255, 255, 255, 0);
}

/* ==================================CurrencyPair=================================== */
/* ==================================style.css=================================== */
#chartdiv {
  height: 310px !important;
}
/* ==================================style.css=================================== */
/* ==================================orderArea=================================== */
.tv_ammount-form-block .form-input-block .tv-btc-tag {
  right: 16px;
  width: 40px;
  height: 38px;
}
/* ==================================orderArea=================================== */
/* ==================================confirmOrder=================================== */
.con-btn {
  padding: 0.3rem 0.35rem;
  font-size: 1rem;
  line-height: 1.2;
}
.modal-footer {
  padding: 0.5rem 3.5rem;
}
/* ==================================confirmOrder=================================== */
/* ==================================TradingViewButton=================================== */
.tv-toolbar {
  background: #fcfdff;
  /* display: inline-block; */
  padding: 0;
}
.svg-style {
  color: #000;
  float: right;
  border: 1px solid #f0f0f0;
  margin: 1px;
  padding: 0.5px;
}
.dark-blue-bg .svg-style {
  border: 1px solid #242b42;
  background-color: #0b132d !important;
}
.dark-blue-bg .svg-style > path {
  fill: #fff;
  border: 1px solid #242b42;
  background-color: #0b132d !important;
}
.dark-blue-bg .svg-style g {
  fill: #fff;
}
.tv-toolbar select,
.tv-toolbar button {
  background: transparent;
  border: 1px solid #f0f0f0;
  margin: 0px 1px;
  font-size: 13px;
}
.tv-toolbar button {
  line-height: 1.3;
}
.tv-toolbar .dropdown-menu li button {
  border: none;
}
.tv-toolbar button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}
.dark-blue-bg .tv-toolbar select,
.dark-blue-bg .tv-toolbar button {
  background: #171f38;
  border: 1px solid #242b42;
  color: #fff;
}
.dark-blue-bg .tv-toolbar .dropdown-menu li button {
  border: none;
}

.selected-interval {
  font-weight: 900;
  color: red !important;
}
.tv-toolbar .dropdown-menu {
  width: 0px;
  min-width: 45px;
  padding: 0px 0;
  display: none;
}
.dropdown-menu.show {
  display: block;
}
.dark-blue-bg .tv-toolbar .dropdown-menu {
  background-color: #171f38 !important;
}
.dark-blue-bg .tv-toolbar {
  background-color: #0b132d !important;
}
/* ==================================TradingViewButton=================================== */
/* ==================================POPOVER=================================== */

.dark-blue-bg .popover {
  background-color: #192030 !important;
}
.dark-blue-bg .popover-body {
  color: #ffffff !important;
}

/* ==================================POPOVER=================================== */
/* ==================================Currencyrate=================================== */
.currancy-rate-tb {
  padding: 5px 0;
}
.pointer {
  cursor: pointer;
}
.currency-rate .update-rate .currency-info > span {
  font-size: 13px;
}
.currency-rate .update-rate .currency-info h6 {
  font-size: 12px;
}
.fa-sun {
  color: lightgray;
}
.fa-moon {
  color: #1f2738;
}

/* ==================================Currencyrate=================================== */
/* ==================================Header=================================== */
.navbar {
  min-height: 45px;
  padding: 0px 0px !important;
}
.navbar-logo {
  width: 130px !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .nav-link,
.navbar-nav .dropdown-menu > li > a {
  padding: 5px 10px !important;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}
.navbar-nav .dropdown-menu > li > a:hover {
  background-color: #1f2738 !important;
  color: rgb(177, 176, 176) !important;
}
.navbar-nav .dropdown-menu {
  padding: 0px;
  min-width: 0px;
  margin: 0 0;
  background-color: #1f2738;
}
/* ==================================Header=================================== */
/* ==================================Footer=================================== */
.footer-upper-section {
  padding: 32px 0;
}
.footer-bottom {
  padding: 5px 0;
}
.footer-info-list > h4 {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
}
.footer-info-list ul li {
  margin-bottom: 3px;
}

.footer-info-list .contact-info {
  margin-bottom: 65px;
}
.footer-logo img {
  width: 130px !important;
}


/* ==================================Footer=================================== */
/* =================.table-fixed=========================== */
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
  float: left;
  position: relative;
}
.col-lg-3 ::after {
  content: "";
  clear: both;
  display: block;
}
/* width */
.col-lg-3 ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.col-lg-3 ::-webkit-scrollbar-track {
  background: #fff;
}
.dark-blue-bg .col-lg-3 ::-webkit-scrollbar-track {
  background: #0b132d;
}

/* Handle */
.col-lg-3 ::-webkit-scrollbar-thumb {
  background: rgba(185, 184, 184, 0.651);
  border-radius: 50px;
}
.dark-blue-bg .col-lg-3 ::-webkit-scrollbar-thumb {
  background: #18295a;
}

/* Handle on hover */
.col-lg-3 ::-webkit-scrollbar-thumb:hover {
  background: rgba(114, 114, 114, 0.795);
  border-radius: 50px;
}
.dark-blue-bg .col-lg-3 ::-webkit-scrollbar-thumb:hover {
  background: #22377a;
}

/* ===================.table-fixed======================= */
