* {
  border-radius: 0px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif !important;
  font-weight: bold !important;
}

body {
  background: #ffffff;
}
.table thead th,
.table thead th td {
  background: rgb(247, 247, 247) !important;
}

.dark-blue-bg .table thead th,
.dark-blue-bg .table thead th td {
  background-color: #171f38 !important;
}

.clickable {
  cursor: pointer;
}

.ow {
  overflow-wrap: break-word;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border-top: none !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.adbox {
  background-color: rgb(246, 246, 246);
  border-radius: 5px;
}

.addpdglr15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.addpdglr15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.table-bordered thead th {
  border-bottom-width: 1px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 0px solid #dee2e6;
}

.table-bordered th {
  border: 1px solid #c7c7c7;
}

.table th {
  padding: 10px;
}
/*  */

.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.border {
  border: 1px solid rgb(230, 230, 230);
}

.theadColor {
  background-color: #fafafa;
}
.tbodyColor {
  background-color: #ffffff;
}
.center {
  text-align: center;
}
/*  Mudassir */

/* ===============================================Spinner================================================ */
.spinner_wrapper {
  position: relative;
}
.spinner_processing {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-left: -50%;
  z-index: 9;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.9);
}
.dark-blue-bg .spinner_processing {
  background: rgb(23, 31, 56);
}
.spinner_center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  margin-left: -50%;
  margin-top: -25px;
}

/* ===============================================Spinner================================================ */
/* ===============================================Date Picker================================================ */
input.disabled {
  pointer-events: none;
  font-weight: bold;
}
.react-datepicker__input-container > input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* ===============================================Date Picker================================================ */
/* ===============================================tradingview================================================ */

.tradingview-widget-container {
  margin-bottom: 0px;
}
.pagination-margin > nav {
  margin: 15px;
}

.ord {
  position: relative;
}
.exchange-orderBook td,
.exchange-orderBook th {
  padding: 0 0.5rem;
}
.exchange-orderBook .th {
  font-size: 15px !important;
  font-weight: 700;
}

.trade-history td,
.trade-history th {
  padding: 0 0.5rem;
}

.currancy-pair-pad {
  padding: 15px 0;
}
.currency-rate {
  padding: 2px 20px;
}
.das-oreder-table td span {
  font-weight: 600;
  font-size: 12px !important;
}
.das-oreder-table td {
  font-weight: 600 !important;
  font-size: 12px !important;
}
.dahboard-order-block,
.order-form-area-block,
.order-history-block {
  margin-bottom: 5px;
}
.order-history-block .table-fixed tbody {
  height: 490px;
  overflow-y: auto;
  width: 100%;
}

/* ===============================================tradingview================================================ */

/* ===============================================currency-rate================================================ */

.currency-rate .dropdown-menu {
  min-width: 140px;
  background-color: #353c4b;
  padding: 5px 0;
  left: 10%;
}

.currency-rate .dropdown-menu > a {
  padding: 5px 10px !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  color: #fff;
}

.currency-rate .dropdown-menu > a:hover {
  /* background-color: #1f2738 !important; */
  background-color: #494f5d !important;
  /* /* color: rgb(177, 176, 176) !important; */
  color: #dc3235 !important;
}

/* ===============================================currency-rate================================================ */
/* ===============================================order Book & trade left right Padding================================================ */

@media screen and (max-width: 1199px) {
  .dashboard-body .table.das-oreder-table {
    min-width: 0px;
  }
}
@media (min-width: 425px) {
  .dahboard-order-block {
    width: 100% !important;
  }
}
@media (min-width: 992px) {
  .currancy-rate-tb .container,
  .currancy-rate-tb .container-fluid {
    padding-left: 5px;
    padding-right: 5px;
  }
  .leftSideBar {
    padding-left: 5px;
    padding-right: 5px;
  }
  .righSideBar {
    padding-left: 5px;
    padding-right: 5px;
  }
  .tv-oa-lr {
    padding-right: 5px;
    padding-left: 5px;
  }
  .latest-tranjections-area .container,
  .latest-tranjections-area .container-fluid {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* ===============================================order Book & trade left right Padding================================================ */
/* ===============================================LeftSideBar================================================ */
.leftSideBar .table-fixed tbody {
  height: 290px;
  overflow-y: auto;
  width: 100%;
}

/* ===============================================LeftSideBar================================================ */
/* ===============================================order area================================================ */

.ticker-nav .nav-item a {
  padding: 5px;
}
.dashboard-body {
  margin-bottom: 0;
}
.exchange-chart-block {
  padding: 0px;
  margin-bottom: 5px;
}
.latest-tranjections-area {
  padding-bottom: 5px;
}

/* ===============================================order area================================================ */
/* ===============================================balances================================================ */

.teanding-info-block {
  padding: 0px;
}
.trending-info-tab {
  margin-bottom: 15px;
}
/* ===============================================balances================================================ */

.orderBookRow {
  position: relative;
  border-top: none;
  background: #fff;
}
.orderBookRow .col-md-4 span {
  font-weight: 400 !important;
  font-size: 13px !important;
}

.rate-ratio {
  top: 36%;
  height: 27px;
  width: 100%;
  z-index: 0;
}
.dashes {
  border-bottom: 1px #d3d3d3 dashed;
  margin-bottom: 0.5rem;
}

/* =================================================signUp============================================== */
.checkbox_inline > label > input {
  min-height: 0px;
  margin-left: 20px !important;
  margin-bottom: 10px;
}
/* =================================================signUp============================================== */

/* signup signin reset */
.user-login-signup-section {
padding-top:125px;
}
.user-connected-from .form-group {
  margin: 10px 0px;
}
.user-connected-form-block {
  padding: 10px 40px 20px 40px !important;
}
/* .user-login-signup-form-wrap .modal-content {
  flex-basis: 40%;
} */
.user-login-signup-form-wrap .modal-content > h3 {
  margin: 0 auto 20px auto;
}

/* signup signin reset */

/* ======================================= DepthChart================================================== */
#depthChartStyle {
  min-width: 310px;
  max-width: 1040px;
  height: 250px;
  margin: 0 auto;
}

/* ======================================= DepthChart================================================== */
/* ======================================= tradingview, exchangeorderarea================================================== */

.market-ticker-block > .tab-content > .tab-pane > .tv_orde_table {
  min-height: 200px;
  background: rgb(246, 246, 246);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(226, 226, 226);
  border-image: initial;
  outline: none;
}

.dark-blue-bg .market-ticker-block > .tab-content > .tab-pane > .tv_orde_table {
  border-right: 1px solid #242b42;
  background-color: #0b132d !important;
}
.market-ticker-block > .tab-content > .tab-pane > .tv_orde_table tr th {
  padding: 5px 10px;
  font-size: 14px;
  color: #000;
  border-right: 1px solid rgb(226, 226, 226);
}
.dark-blue-bg
  .market-ticker-block
  > .tab-content
  > .tab-pane
  > .tv_orde_table
  tr
  th {
  color: #fff;
  border: 1px solid #242b42;
}
.market-ticker-block > .tab-content > .tab-pane > .tv_orde_table tbody td {
  padding-top: 1rem;
  border-right: 1px solid rgb(226, 226, 226);
  padding-bottom: 0px;
}
.dark-blue-bg
  .market-ticker-block
  > .tab-content
  > .tab-pane
  > .tv_orde_table
  tbody
  td {
  border: 1px solid #242b42;
}
.tv_ammount-form-block form .form-group {
  margin-bottom: 0.5rem;
}

.tv_ammount-form-block form .form-group > .form-input-block > input {
  height: 30px;
  border-radius: 0%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(226, 226, 226);
  border-image: initial;
  outline: none;
}

.tv_ammount-form-block form .form-group > .col-form-label {
  line-height: 100%;
}

.tv_ammount-form-block form .form-group > .form-input-block > button {
  height: 30px;
  border-radius: 0%;
}
.tv_ammount-form-block form .form-group > .form-input-block > .tv-btc-tag {
  right: 16px;
  width: 40px;
  height: 28px;
  line-height: 30px;
}

.parent-order-tab {
  line-height: 100%;
}
.tv_orde_table thead th {
  line-height: 15px;
}
.dark-blue-bg .latest-tranjections-block-inner h5 {
  color: #ffffff;
}
.dark-blue-bg .dashes {
  border-bottom: 1px #192030 dashed;
}
.dark-blue-bg .form-horizontal input.form-control:not(:read-only) {
  background: transparent;
  color: #fff;
}
/* ======================================= tradingview, exchangeorderarea================================================== */

/* ==================================CurrencyPair=================================== */

.exchange-orderBook tbody .favorite-coin {
  padding: 0 0px;
}
.dark-blue-bg .table {
  color: #ffffff;
}
.das-oreder-table td {
  font-size: 12px !important;
}
.table {
  color: #212529;
}
.currancy-pair-pad {
  padding: 5px !important;
}

.dark-blue-bg .table-hover tbody tr:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}
.parent-order-tab .nav-item a.nav-link h5 {
  font-weight: 900;
}
.ticker-nav .nav-item a {
  font-weight: 900;
}
.market-new-ticker-block {
  margin-bottom: 5px !important;
}
.das-market-tab-pane {
  height: auto;
}
.parent-order-tab .nav-item a.nav-link.active {
  font-weight: 600;
}
.tab-content .table-fixed tbody {
  height: 55px;
  overflow-y: auto;
  width: 100%;
}
.market-new-ticker-block {
  background: rgba(255, 255, 255, 0);
}

/* ==================================CurrencyPair=================================== */
/* ==================================style.css=================================== */
#chartdiv {
  height: 310px !important;
}
/* ==================================style.css=================================== */
/* ==================================confirmOrder=================================== */
.con-btn {
  padding: 0.3rem 0.35rem;
  font-size: 1rem;
  line-height: 1.2;
}
.modal-footer {
  padding: 0.5rem 3.5rem;
}
/* ==================================confirmOrder=================================== */
/* ==================================TradingViewButton=================================== */
.tv-toolbar {
  background: #fcfdff;
  /* display: inline-block; */
  padding: 0;
}
.svg-style {
  color: #000;
  float: right;
  border: 1px solid rgb(230, 230, 230);
  margin: 2px;
  padding: 0.5px;
}
.dark-blue-bg .svg-style {
  border: 1px solid #242b42;
  background-color: #0b132d !important;
}
.dark-blue-bg .svg-style > path {
  fill: #fff;
  border: 1px solid #242b42;
  background-color: #0b132d !important;
}
.dark-blue-bg .svg-style g {
  fill: #fff;
}
.tv-toolbar select,
.tv-toolbar button {
  background: transparent;
  border: 1px solid rgb(230, 230, 230);
  margin: 0px 1px;
  font-size: 13px;
}
.tv-toolbar button {
  line-height: 1.3;
}
.tv-toolbar .dropdown-menu li button {
  border: none;
}
.tv-toolbar button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}
.dark-blue-bg .tv-toolbar select,
.dark-blue-bg .tv-toolbar button {
  background: #171f38;
  border: 1px solid #242b42;
  color: #fff;
}
.dark-blue-bg .tv-toolbar .dropdown-menu li button {
  border: none;
}

.selected-interval {
  font-weight: 900;
  color: red !important;
}
.tv-toolbar .dropdown-menu {
  width: 0px;
  min-width: 45px;
  padding: 0px 0;
  display: none;
}
.dropdown-menu.show {
  display: block;
}
.dark-blue-bg .tv-toolbar .dropdown-menu {
  background-color: #171f38 !important;
}
.dark-blue-bg .tv-toolbar {
  background-color: #0b132d !important;
}
/* ==================================TradingViewButton=================================== */
/* ==================================exchange trading History=================================== */
.trade-history thead tr th:nth-child(2) {
  text-align: center;
}
.trade-history tbody tr td:nth-child(2) {
  text-align: center;
}
.trade-history thead tr th:nth-child(3) {
  text-align: center;
}
.trade-history tbody tr td:nth-child(3) {
  text-align: center;
}
/* ==================================exchange trading History=================================== */

/* ==================================POPOVER=================================== */

.dark-blue-bg .popover {
  background-color: #192030 !important;
}
.dark-blue-bg .popover-body {
  color: #ffffff !important;
}

/* ==================================POPOVER=================================== */
/* ==================================Currencyrate=================================== */
.currancy-rate-tb {
  padding: 5px 0;
}
.pointer {
  cursor: pointer;
}
.currency-rate .update-rate .currency-info > span {
  font-size: 13px;
  color: #c6cbdb;
}
.currency-rate .update-rate .currency-info .currency-info-base {
  font-size: 14px;
  color: #000;
}

.fa-sun {
  color: lightgray;
}
.fa-moon {
  color: #1f2738;
}

/* ==================================Currencyrate=================================== */
/* ==================================Header=================================== */
.navbar {
  min-height: 45px;
  padding: 0px 0px !important;
}

.navbar i {
  font-size: 9px;
}
.navbar-logo {
  width: 130px !important;
}

.navbar-nav > li > a {
  padding: 5px 20px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  color: #ffffff;
}
.navbar-nav .dropdown-menu {
  padding: 0px;
  min-width: 140px;
  padding: 5px 0;
  /* background-color: #1f2738; */
  background-color: #353c4b;
}

.navbar-nav .dropdown-menu > li > a {
  padding: 5px 10px !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  color: #fff !important;
}
.navbar-nav .dropdown-menu > li > a:hover {
  /* background-color: #1f2738 !important; */
  background-color: #494f5d !important;
  /* /* color: rgb(177, 176, 176) !important; */
  color: #dc3235 !important;
}

/* ==================================Header=================================== */
/* ==================================Footer=================================== */
.footer-upper-section {
  padding: 32px 0;
}
.footer-bottom {
  padding: 5px 0;
}
.footer-info-list > h4 {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
}
.footer-info-list ul li {
  margin-bottom: 3px;
}

.footer-info-list .contact-info {
  margin-bottom: 65px;
}
.footer-logo img {
  width: 130px !important;
}

/* ==================================Footer=================================== */
/* =================.table-fixed=========================== */
.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
  float: left;
  position: relative;
}
.col-xl-3 ::after {
  content: "";
  clear: both;
  display: block;
}
/* width */
.col-xl-3 ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.col-xl-3 ::-webkit-scrollbar-track {
  background: #fff;
}
.dark-blue-bg .col-xl-3 ::-webkit-scrollbar-track {
  background: #0b132d;
}

/* Handle */
.col-xl-3 ::-webkit-scrollbar-thumb {
  background: rgba(185, 184, 184, 0.651);
  border-radius: 50px;
}
.dark-blue-bg .col-xl-3 ::-webkit-scrollbar-thumb {
  background: #18295a;
}

/* Handle on hover */
.col-xl-3 ::-webkit-scrollbar-thumb:hover {
  background: rgba(114, 114, 114, 0.795);
  border-radius: 50px;
}
.dark-blue-bg .col-xl-3 ::-webkit-scrollbar-thumb:hover {
  background: #22377a;
}

/* ===================.table-fixed======================= */
html {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#content {
  flex: 1;
}
/* ============================== */

.dahboard-order-block .panel-heading-block,
.order-history-block .panel-heading-block,
.latest-tranjections-area .panel-heading-block {
  padding: 6px 0 6px 15px;
}
.latest-tranjections-table tbody tr td {
  padding: 6px 15px;
  font-size: 12px;
}
.latest-tranjections-area .coin-list thead th {
  font-size: 12px;
  font-weight: 600;
  padding: 0px 15px;
}

.CurrencyRate {
  background-color: #000;
}

/* -------------container Fluid--------------- */
@media (max-width: 425px) {
  .container-fluid {
    width: 100%;
  }
}

@media (min-width: 426px) and (max-width: 1440px) {
  .container-fluid {
    width: 85% !important;
  }
}
@media (min-width: 1441px) {
  .container-fluid {
    max-width: 85% !important;
  }
  .dashboard-body > .row > .col-xl-3 {
    max-width: 20% !important;
  }
  .dashboard-body > .row > .col-xl-6 {
    max-width: 60% !important;
    flex: 0 0 60%;
  }
}

/* ==============spinner============ */
/**===== bars4 =====*/
#bars4 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  z-index: 1000;
}

#bars4 span {
  display: block;
  bottom: 10px;
  width: 9px;
  height: 15px;
  background: rgba(222, 49, 53, 0.25);
  position: absolute;
  -webkit-animation: bars4 2s infinite ease-in-out;
  animation: bars4 2s infinite ease-in-out;
}

#bars4 span:nth-child(2) {
  left: 11px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

#bars4 span:nth-child(3) {
  left: 22px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

#bars4 span:nth-child(4) {
  left: 33px;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

#bars4 span:nth-child(5) {
  left: 44px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@keyframes bars4 {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    background: rgba(222, 49, 53, 0.25);
  }

  25% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    background: rgba(222, 49, 53, 0.75);
  }

  50% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    background: rgba(222, 49, 53, 0.25);
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    background: rgba(222, 49, 53, 0.25);
  }
}

@-webkit-keyframes bars4 {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    background: rgba(222, 49, 53, 0.25);
  }

  25% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    background: rgba(222, 49, 53, 0.75);
  }

  50% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    background: rgba(222, 49, 53, 0.25);
  }

  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    background: rgba(222, 49, 53, 0.25);
  }
}

/** END of bars4 */

/* ==============spinner============ */
